<label>
    <input 
       type="checkbox" 
       {{#if (hasValue class)}}class="{{{class}}}"{{/if}}
       {{#if (hasValue value)}}value="{{{value}}}"{{/if}}
       {{#if (eq checked true)}}checked="{{{checked}}}"{{/if}} 
       {{#each custom}} 
         {{name}}="{{{value}}}" 
       {{/each}} />
            {{{text}}}
</label>